<table class="table table-striped" id="pstable">
             <thead>
               <tr>
                 <th>user</th>
                 <th>pid</th>
                 <th>cmd</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                   <td>jp11</td>
                   <td>jp12</td>
                   <td>jp13</td>
               </tr>
               <tr>
                   <td>jp21</td>
                   <td>jp22</td>
                   <td>jp23</td>
               </tr>
             </tbody>
     </table>