<table class="table table-striped" id="pstable">
             <thead>
               <tr>
                 <th>user</th>
                 <th>pid</th>
                 <th>cmd</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                   <td>11</td>
                   <td>12</td>
                   <td>13</td>
               </tr>
               <tr>
                   <td>21</td>
                   <td>22</td>
                   <td>23</td>
               </tr>
             </tbody>
     </table>